{% extends 'base.html'  %}

{% block title %}
{{ title }}
{% endblock %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{% endblock %}

{% block loading_text %}
Загрузка может занять до минуты.
{% endblock %}

{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">К сожалению, данная страница еще не реализована</h1>
</div>
{% endblock %}